.wrapper
  .control
    button(md-raised-button [disabled]='page === 1', (click)='previousPage()')
      md-icon.md-24 chevron_left
      | Previous
    button(md-raised-button [disabled]='page === lastPage', (click)='nextPage()')
      | Next
      md-icon.md-24 chevron_right

  .content(*ngIf='businesses')
    ul
      li(*ngFor='let business of businesses')
        a((click)='openBusiness(business)') {{business.name}}
