md-input {
  margin: 0 16px 0 0;
}

.wrapper { width: 100%; max-width: none; padding: 0 20px; box-sizing: border-box; }
.content { padding: 0 0 150px; }
.side { box-sizing: border-box; }
.left-side { left: 0; background: #EEEEEE; position: fixed; top: 50px; height: calc(100% - 50px); width: calc(100% - 600px); }
.right-side { position: absolute; right: 0; top: 50px; height: calc(100% - 50px); padding: 0 20px; width: 600px; }
.right-side h2 { font-weight: normal; padding-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.05); margin-bottom: 10px; }
.controls-wrapper { position: fixed; bottom: 0; background: white; right: 0; width: 600px; padding: 0 20px; box-sizing: border-box; box-shadow: 0 -1px 1px rgba(0,0,0,0.05); }
#map { background: #22a387; position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
