.wrapper
  .control
    button(md-raised-button [disabled]='page === 1', (click)='previousPage()')
      md-icon chevron_left
      | Previous
    button(md-raised-button [disabled]='page === lastPage', (click)='nextPage()')
      | Next
      md-icon chevron_right

  .content(*ngIf='businesses')
    md-nav-list(dense)
      md-list-item(*ngFor='let business of businesses', (click)='openBusiness(business)') {{business.id}}: {{business.name}}
