doctype html
html
  include _head.jade

  body
    block pre-page

    app
      block content

    script(type='text/javascript' src='/scripts/vendor.js')
    script(type='text/javascript' src='/scripts/app.js')
    block post-page
