doctype html
html
  include _head.jade

  body
    block pre-page

    block content

    script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAr9JtLbw2KOqSOc1DFsUDBUud74QRjnCk')
    script(type='text/javascript' src='/scripts/vendor.js')
    script(type='text/javascript' src='/scripts/app.js')
    block post-page
